/* general style */
/* body{
    background-color: aqua;
    color: white!important;
} */
.show{
    display: block;
}
.hide{
    display: none;
}
img{
    opacity: 50%;
}
p{
    opacity: 100%;
    font-weight: bolder;
    color: black;
    text-shadow: 0px 5px 10px #ffffff;
}
.showPointer{
    cursor: pointer;
}
.yellowStar{
    color: orange;
}
.navbar{
    opacity: 0.7;
}
.notasksyet{
    left: 42%;
}